<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SFTPhost" value="localhost" />
    <add key="SFTPpassword" value="facturas" />
    <add key="SFTPport" value="27" />
    <add key="SFTPsource" value="/" />
    <add key="LocalPath" value="D:\SFTP local" />
    <add key="SFTPusername" value="facturas" />
  </appSettings>

  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=TramiteEscrituracion;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="XMLConection" connectionString="Data Source=localhost;Initial Catalog=Facturas;User ID=sa;Password=sa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>